<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapCss")
    @Styles.Render("~/Content/Custom/Custom.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tablesort")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <b class="app-title">SEO Analyzer</b>

    @RenderBody()
</body>
</html>
