@model SeoAnalyzer.Models.AnalysisParameters

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
@using (Html.BeginForm())
{
    <div class="option-group">
        <label>Use URL:</label>
        @Html.CheckBoxFor(x => x.IsUrl, new { @class = "is-url" })
    </div>

    <div class="option-group analyze-text">
        <label title="Calculate number of uccurences on the page of each word">Analyze text:</label>
        @Html.CheckBoxFor(x => x.AnalyzeText)
    </div>

    <div class="option-group">
        <label title="Calculate number of external links">Count external links:</label>
        @Html.CheckBoxFor(x => x.CountExternalLinks)
    </div>

    <div class="option-group analyze-metatags">
        <label title="Calculate number of uccurences on the page of each word listed in meta tags">Analyze meta tags:</label>
        @Html.CheckBoxFor(x => x.AnalyzeMetaTags)
    </div>

    <div class="form-group">
        @Html.TextAreaFor(x => x.Text, new { @class = "default-tb-size"})
    </div>

    <input class="btn btn-primary" type="submit" value="Run" />
}


<script>
    $(function () {
        $('.is-url').change(function () {
            if (this.checked) {
                $('.analyze-metatags').fadeIn();
            } else {
                $('.analyze-metatags').fadeOut();
            }
        });

        if (!$('.is-url').checked) {
            $('.analyze-metatags').hide();
        }

    });
</script>

