@model SeoAnalyzer.Models.AnalysisParameters

@{
    ViewBag.Title = "SEO analyzer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="header-description">
    This application performs a simple SEO analyzis of the text.
    It calculates number of ocurences of each word and also can analyze meta tags and count external links in the text.
    To get started - copy a text in the text area below or insert a URL.
</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="option-group">
        <label>Use URL:</label>
        @Html.CheckBoxFor(x => x.IsUrl, new { @class = "is-url" })
    </div>

    <div class="option-group count-external-links">
        <label title="Calculate number of external links">Count external links:</label>
        @Html.CheckBoxFor(x => x.CountExternalLinks)
    </div>

    <div class="option-group analyze-metatags">
        <label title="Calculate number of uccurences on the page of each word listed in meta tags">Analyze meta tags:</label>
        @Html.CheckBoxFor(x => x.AnalyzeMetaTags)
    </div>

    <div class="form-group">
        @Html.TextAreaFor(x => x.Content, new { @class = "default-tb-size"})
        @Html.ValidationMessageFor(x => x.Content)
    </div>

    <input class="btn btn-primary" type="submit" value="Run" />
}


<script>
    $(function () {
        $('.is-url').change(function () {
            if (this.checked) {
                $('.analyze-metatags').fadeIn();
                $('.count-external-links').fadeIn();
            } else {
                $('.analyze-metatags').fadeOut();
                $('.count-external-links').fadeOut();
            }
        });

        if (!$('.is-url').prop('checked')) {
            $('.analyze-metatags').hide();
            $('.count-external-links').hide();
        }
    });
</script>

